.image{
    width: 12rem;
    height: 12rem;
    margin-right: 2rem;
}
.nav-bar{
    width: 101%;
}
@media screen and (max-width:1000px) {
    .image{
        padding-bottom: 5rem;
    }
    #mobile_button{
        margin-bottom: 5rem;
    }
}