<!DOCTYPE html>
<html lang="en">
<head>
    {%block head%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}STORE PAGE</title>
    <link href="{{url_for('static',filename='style.css')}}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/all.min.css') }}">
    {% endblock %}
</head>

<body>
    {% block nav %}
    <div class="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #a7f0a9; height: 100px;" >
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation" id="mobile_button">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <a class="navbar-brand" href="#">SOME ONLINE STORE</a> -->
         <a href="/home">
        <img src="{{ url_for('static', filename='assets/horizontal-logo.png') }}" class="image"   >
      </a >
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Main page <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/another_page" tabindex="-1" aria-disabled="true"  >Another page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/items_page" tabindex="-1" aria-disabled="true"  >Items</a>
            </li>
          </ul>
          <select>
           
            {% for i in range(6) %}
            <option>{{i}}</option>
            {%endfor%}
          </select>
          <form class="form-inline my-2 my-lg-0" action="/search_items">
            <input class="form-control mr-sm-2" type="search" placeholder="Search item by name" name="item_name" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>
    
      {% endblock %}
    {% block content %}
    <img src="{{ url_for('static', filename='assets/front_page.png') }}" class="image" style="width:100vw; height: 100vw; margin: 0;"   >
    {% endblock %}
</body>

